/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;

  --basic-green: #00ca74;
  --hover-green: #00bc6c;
  --click-green: #00aa62;

  --basic-red: #fb565a;
  --hover-red: #e74246;
  --click-red: #d7373b;

  --basic-yellow: #efc849;
  --hover-yellow: #eab534;
  --click-yellow: #e5a722;

  --basic-grey: #eeeeee;
  --dark-grey-text: #283136;
  --grey-text: #444444;
  --ligth-grey-text: #666666;
  --clicked-link-grey: #a7a7a7;

  --grey-input-border: #d7dcde;
  --grey-input-border-hover: #b4b9bb;

  --grey-input-error: #e74246;

  --grey-input-text: #444444;
}

/* Global */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--dark-grey-text);
}

/* TODO: logo hover, focus, active like this?*/
/* .main-header-logo {
  background-color: var(--basic-grey);
  background-image: url("img/nerds-logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-header-logo:hover {
  background-color: var(--basic-grey);
  background-image: url("img/nerds-logo-hover.svg");
  background-repeat: no-repeat;
  background-position: center center;
} */

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */
.main-navigation {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  background-color: transparent;
  text-transform: uppercase;
}

.bin {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--basic-black);
}

.bin:hover {
  color: var(--basic-red);
}

.bin:focus {
  color: var(--clicked-link-grey);
}

.site-navigation {
  list-style: none;
}

.site-navigation a:not([href]) {
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:focus {
  color: var(--clicked-link-grey);
}

.main-header {
  background-color: var(--basic-grey);
}

.features {
  background-color: var(--basic-grey);
}

.features h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/* services */
.services-list {
  list-style: none;
}

.services-item {
  text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.services-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.description a {
  color: inherit;
}

.description h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.description h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.indicators-list {
  list-style: none;
}

.indicators h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.indicators strong {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.indicators strong > span {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

.indicators p {
  font-size: 16px;
  line-height: 18px;
}

.partners-list {
  list-style: none;
}

.footer-contacts h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts p {
  font-size: 16px;
  line-height: 18px;
}

.footer-socials h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-socials p {
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-text);
}

/* Button */
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:focus span,
.button:active span {
  opacity: 0.3;
}

.button:focus,
.button:active {
  background-color: var(--click-red);
}

.button-learn-more {
  width: 240px;
}

.services-button {
  padding-left: 15px;
  padding-right: 15px;
}

.services-button-green {
  background-color: var(--basic-green);
}

.services-button-green:hover {
  background-color: var(--hover-green);
}

.services-button-green:focus,
.services-button-green:active {
  background-color: var(--click-green);
}

.services-button-yellow {
  background-color: var(--basic-yellow);
}

.services-button-yellow:hover {
  background-color: var(--hover-yellow);
}

.services-button-yellow:focus,
.services-button-yellow:active {
  background-color: var(--click-yellow);
}

.button-footer-contacts {
  padding-left: 54px;
  padding-right: 54px;
}

.button-send {
  padding-left: 83px;
  padding-right: 83px;
}

/* .button:hover,
.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-black);
} */

/* Contacts */
.footer-contacts-phone {
  color: inherit;
}

.footer-socials ul {
  list-style: none;
}

/* Modal form */
/* TODO: error --grey-input-error */
.modal-form input,
.modal-form textarea {
  color: var(--grey-input-text);
  border: 2px solid var(--grey-input-border);
  opacity: 0.3;
  font-size: 16px;
  line-height: 18px;
  width: 360px;
  height: 50px;
  padding-left: 16px;
  border-radius: 3px;
}

.modal-form textarea {
  padding-top: 16px;
}

.modal-form input:hover,
.modal-form textarea:hover {
  border-color: var(--grey-input-border-hover);
  opacity: 0.3;
}

.modal-form input:focus,
.modal-form textarea:focus {
  border-color: var(--basic-black);
  opacity: 1;
}

.modal-form label {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}
