/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;

  --basic-green: #00ca74;
  --hover-green: #00bc6c;
  --click-green: #00aa62;

  --basic-red: #fb565a;
  --hover-red: #e74246;
  --click-red: #d7373b;

  --basic-yellow: #efc849;
  --hover-yellow: #eab534;
  --click-yellow: #e5a722;

  --basic-grey: #eeeeee;
  --dark-grey-text: #283136;
  --grey-text: #444444;
  --ligth-grey-text: #666666;
  --clicked-link-grey: #a7a7a7;

  --grey-input-border: #d7dcde;
  --grey-input-border-hover: #b4b9bb;

  --grey-input-error: #e74246;

  --grey-input-text: #444444;

  --grey-button-hover: #dfdfdf;
  --grey-button-active: #d5d5d5;
}

/* Global */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--dark-grey-text);
}

/* TODO: logo hover, focus, active like this?*/
/* .main-header-logo {
  background-color: var(--basic-grey);
  background-image: url("img/nerds-logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-header-logo:hover {
  background-color: var(--basic-grey);
  background-image: url("img/nerds-logo-hover.svg");
  background-repeat: no-repeat;
  background-position: center center;
} */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */
.main-navigation {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  background-color: transparent;
  text-transform: uppercase;
  margin: 0 auto;
  width: 1158px;
}

.main-header-logo {
  justify-self: start;
  padding-top: 55px;
}

.bin {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--basic-black);
  justify-self: start;
  padding-top: 75px;
}

.bin:hover {
  color: var(--basic-red);
}

.bin:focus {
  color: var(--clicked-link-grey);
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-self: center;
}

.site-navigation li {
  display: inline-block;
  padding-left: 45px;
  padding-top: 75px;
}

.site-navigation a:not([href]) {
  border-bottom: solid 1px var(--basic-red);
  padding-bottom: 13px;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:focus {
  color: var(--clicked-link-grey);
}

.main-header {
  background-color: var(--basic-grey);
}

.container {
  width: 1174px;
  margin: 0 auto;
}

.features {
  background-color: var(--basic-grey);
  display: grid;
  grid-template-columns: 1fr 760px;
  grid-template-rows: 431px;
  margin: 0 auto;
  width: 1158px;
}

.features h2 {
  grid-column: 1/1;
  grid-row: 1/1;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.features p {
  padding-bottom: 38px;
}

.button-learn-more {
  width: 240px;
}

/* services */
.services-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.services-item {
  text-align: left;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 100px;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.services-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.description {
  padding-bottom: 73px;
}

.description-conteiner {
  display: grid;
  grid-template-columns: 1fr 360px;
}

.description a {
  color: inherit;
}

.description h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-top: 73px;
}

.description p {
  margin-top: 32px;
}

.description h3 {
  margin-top: 40px;
}

.description h3,
.indicators h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.description-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.description-list li:not(:last-child) {
  padding-bottom: 20px;
}

.description-list li::before {
  content: "—";
  color: var(--basic-red);
}

.indicators {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.indicators-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* .indicators-list li {
  display: inline-block;
} */

/* .indicators h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
} */

.indicators strong {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.indicators strong > span {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

.indicators p {
  font-size: 16px;
  line-height: 18px;
}

.partners-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vertical-line {
  border-right: 2px solid var(--basic-grey);
  margin-right: 15px;
  width: 2px;
  height: 52px;
}

.footer-conteiner {
  background-image: url("../img/map.jpg");
  background-repeat: repeat;
  display: grid;
  grid-template-columns: 1fr 450px;
  grid-template-rows: 416px;
  padding: 54px 0 0 140px;
  margin: 80px auto 0;
  /* width: 1158px; */
  width: 100%;
  object-fit: cover;
  /* background-position: center center; */
}

.footer-contacts {
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  margin-bottom: 54px;
}

.center {
  align-self: center;
}

.footer-contacts h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 50px;
  padding-top: 49px;
}

.footer-contacts p {
  font-size: 16px;
  line-height: 18px;
  padding-left: 50px;
}

.footer-pointer {
  margin-top: 15px;
}

.footer-socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 1158px;
}

.footer-socials h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-top: 75px;
}

.footer-socials p {
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-text);
}

.footer-socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 68px;
}

.footer-socials li {
  display: inline-block;
}

.socials-sale {
  justify-self: center;
}

/* Button */
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:focus span,
.button:active span {
  opacity: 0.3;
}

.button:focus,
.button:active {
  background-color: var(--click-red);
}

.services-button {
  padding-left: 15px;
  padding-right: 15px;
}

.services-button-apps {
  background-color: var(--basic-green);
}

.services-button-apps:hover {
  background-color: var(--hover-green);
}

.services-button-apps:focus,
.services-button-apps:active {
  background-color: var(--click-green);
}

.services-button-presentations {
  background-color: var(--basic-yellow);
}

.services-button-presentations:hover {
  background-color: var(--hover-yellow);
}

.services-button-presentations:focus,
.services-button-presentations:active {
  background-color: var(--click-yellow);
}

.button-footer-contacts {
  padding-left: 54px;
  padding-right: 54px;
}

.button-send {
  padding-left: 83px;
  padding-right: 83px;
}

/* Catalog */
.catalog-main-header {
  background-color: var(--basic-grey);
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.catalog-container {
  display: grid;
  grid-template-columns: 398px 760px;
  padding: 0;
  margin: 0 auto;
  align-items: center;
}

.filter {
  align-self: flex-start;
}

.filter fieldset {
  border: 0;
  padding: 0;
}

.projects-sort {
  justify-self: start;
  display: grid;
  grid-template-rows: 150px 1fr;
}

.sort {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sort ul {
  padding: 0;
  margin: 0;
  padding-top: 61px;
  justify-self: right;
}

.sort h2 {
  justify-self: left;
  margin-top: 55px;
}

.projects-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects .button {
  padding: 17px 72px 15px 72px;
}
/* Contacts */
.footer-contacts-phone {
  color: inherit;
  padding-left: 50px;
}

.cost legend {
  padding-top: 55px;
  padding-bottom: 48px;
}

.grid legend {
  padding-bottom: 16px;
  padding-top: 56px;
}

.blocks legend {
  padding-bottom: 16px;
  padding-top: 47px;
}

.cost ul,
.grid ul,
.blocks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid li {
  padding-bottom: 18px;
}

.blocks li {
  padding-bottom: 20px;
}

.cost li {
  display: inline-block;
}

.cost input {
  width: 80px;
  height: 38px;
  background-color: var(--basic-grey);
  color: var(--dark-grey-text);
  border-radius: 3px;
  border: 0;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.cost label {
  color: var(--dark-grey-text);
  font-size: 16px;
  line-height: 22px;
}

.grid,
.blocks {
  color: var(--dark-grey-text);
  font-size: 16px;
  line-height: 20px;
}

.button-show {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  background-color: var(--basic-grey);
  padding: 17px 89px 15px 88px;
  border-radius: 3px;
}

.cost legend,
.grid legend,
.blocks legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.sort h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.sort li {
  display: inline-block;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  text-transform: uppercase;
}

.sort a:hover {
  opacity: 0.6;
}

.sort a:focus {
  opacity: 1;
}

.sort a:active {
  opacity: 1;
}

.button-show:hover {
  background-color: var(--grey-button-hover);
}

.button-show:focus,
.button-show:active {
  background-color: var(--grey-button-active);
}

.button-show span:focus,
.button-show span:active {
  opacity: 0.1;
}

.project-header {
  width: 360px;
  height: 40px;
  background-color: #4d4d4d;
  opacity: 0.12;
  padding-left: 16px;
  padding-top: 13px;
}

.project-header:hover {
  opacity: 1;
}

.circle {
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
  display: inline-block;
  margin-right: 9px;
}

.project-image {
  width: 360px;
  height: 578px;
  padding-top: 349px;
  display: block;
}

.sedona {
  background-image: url("../img/catalog/img-sedona.jpg");
  background-repeat: no-repeat;
}

.pink-app {
  background-image: url("../img/catalog/img-pink.jpg");
  background-repeat: no-repeat;
}

.barbershop {
  background-image: url("../img/catalog/img-barbershop.jpg");
  background-repeat: no-repeat;
}

.mishka {
  background-image: url("../img/catalog/img-mishka.jpg");
  background-repeat: no-repeat;
}

.aplus {
  background-image: url("../img/catalog/img-aplus.jpg");
  background-repeat: no-repeat;
}

.kvast {
  background-image: url("../img/catalog/img-kvast.jpg");
  background-repeat: no-repeat;
}

.project {
  width: 360px;
  height: 231px;
  background-color: var(--basic-grey);
  text-align: center;
  padding-top: 26px;
}

.project h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.project p {
  font-size: 16px;
  line-height: 18px;
  color: var(--ligth-grey-text);
}

.projects-list li {
  display: inline-block;
  vertical-align: top;
}

.pagination li {
  display: inline-block;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-grey);
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 20px 15px 20px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--special);
}

.pagination-item a:hover {
  background-color: var(--grey-button-hover);
}

.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--grey-button-active);
}

.button-show span:focus,
.button-show span:active {
  opacity: 0.3;
}

.pagination-item a:not([href]) {
  background-color: var(--basic-white);
  border: 3px solid #dbdbdb;
  padding: 14px 17px 12px 17px;
}

.line {
  border-top: 1px solid var(--basic-grey);
}

/* Modal form */
/* TODO: error --grey-input-error */
.modal-form input,
.modal-form textarea {
  color: var(--grey-input-text);
  border: 2px solid var(--grey-input-border);
  opacity: 0.3;
  font-size: 16px;
  line-height: 18px;
  width: 360px;
  height: 50px;
  padding-left: 16px;
  border-radius: 3px;
}

.modal-form textarea {
  padding-top: 16px;
}

.modal-form input:hover,
.modal-form textarea:hover {
  border-color: var(--grey-input-border-hover);
  opacity: 0.3;
}

.modal-form input:focus,
.modal-form textarea:focus {
  border-color: var(--basic-black);
  opacity: 1;
}

.modal-form label {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.text-hidden {
  /* visibility: hidden; */
  display: none;
}
