/* Variables */

:root {
  --basic-black: #000000;
  --basic-grey: #eeeeee;
  --basic-green: #00ca74;
  --basic-red: #fb565a;
  --basic-yellow: #efc849;
  --basic-white: #ffffff;

  --dark-grey-text: #283136;
  --grey-text: #444444;
  --ligth-grey-text: #666666;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--dark-grey-text);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  line-height: 30px;
  background-color: transparent;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-red);
}

.main-header {
  background-color: var(--basic-grey);
}

.features {
  background-color: var(--basic-grey);
}

.features h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/* services */

.services-list {
  list-style: none;
}

.services-item {
  text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.services-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.description a {
  color: inherit;
}

.description h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.description h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.indicators-list {
  list-style: none;
}

.indicators h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.indicators strong {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.indicators strong > span {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  vertical-align: top;
}

.indicators p {
  font-size: 16px;
  line-height: 18px;
}

.partners-list {
  list-style: none;
}

.footer-contacts h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts p {
  font-size: 16px;
  line-height: 18px;
}

.footer-socials h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-socials p {
  font-size: 16px;
  line-height: 22px;
  color: var(--grey-text);
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.services-button-green {
  background-color: var(--basic-green);
}

.services-button-yellow {
  background-color: var(--basic-yellow);
}

/* Contacts */

.footer-contacts-phone {
  color: inherit;
}

.footer-socials ul {
  list-style: none;
}
